body, html{
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}


li a{
	color: #b983af;
}

.x-jumbotron {
	height: 800px;
	width: 100%;
}

//.card-images {
//	width: 350px;
//	height: 150px;
//
//}